# PROJECT PHASE 2 SUBMISSION

# NAMES: Madison, Nakul, Huy, Mark

## Central motivation of the project

We wanted to find how the Economic Growth of Countries Affect CO2 Emissions. As countries progress economically, they face challenges related to climate sustainabiliy and preservation. Tracking CO2 emissions of countries can help predict future CO2 emissions as more countries become developed. 

1. How does the CO2 emissions of developing countries help predict future climate issues. 

2. How does economic growth impact pollution by country; is there a corellation between economic output and poluttion.

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
from datetime import datetime
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import json

In [2]:
gdp_clean_lst = []

for year in range(1960, 2024): 
    table = pd.read_html(f'https://countryeconomy.com/gdp?year={year}')
    
    #[:-1] removes the '< GDP yearGDP year >	< GDP yearGDP year >	< GDP yearGDP year >	NaN' row
    clean_table = table[0][:-1].drop(['Annual GDP', 'Annual GDP.1', 'Annual GDP.3', 'GDP Growth (%).1'], axis = 1)
    clean_table.rename(columns={'Annual GDP.2': 'Annual GDP'}, inplace=True)

    #replace nan with 0
    clean_table = clean_table.replace(np.nan, 0)
    
    #remove '$', ',' , 'M' and convert the string to int
    #ANNUAL GDP is in MILLION
    clean_table['Annual GDP'] = clean_table['Annual GDP'].replace('[\$,M]', '', regex=True).astype(int)
    
    #remove '%' and convert the string to float
    clean_table['GDP Growth (%)'] = clean_table['GDP Growth (%)'].str.rstrip('%').astype(float)
    
    #remove '+' in Countries
    clean_table['Countries'] = clean_table['Countries'].replace(r'\[\+\]', '', regex=True).astype(str)
    
    #combine 'Date' and 'Annual GDP' columns, make each year in 'Date' a column name
    clean_table = clean_table.pivot(index='Countries', columns='Date', values='Annual GDP')

    gdp_clean_lst.append(clean_table)

In [3]:
gdp_1960_to_2023 = pd.concat(gdp_clean_lst, axis=1).reset_index()
gdp_1960_to_2023

Date,Countries,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2020,2021,2022,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,538.0,549.0,547.0,751.0,800.0,1007.0,1400.0,1673.0,1373.0,...,NaN,NaN,14501.0,NaN,NaN,NaN,NaN,NaN,NaN,17329.0
1,Algeria,2724.0,2435.0,2001.0,2703.0,2909.0,3136.0,3040.0,3371.0,3852.0,...,NaN,NaN,225631.0,NaN,NaN,NaN,NaN,NaN,NaN,240064.0
2,Australia,18607.0,19683.0,19923.0,21540.0,23801.0,25976.0,27308.0,30443.0,32714.0,...,NaN,NaN,1776577.0,NaN,NaN,NaN,NaN,NaN,NaN,1796778.0
3,Austria,6650.0,7375.0,7824.0,8447.0,9250.0,10081.0,10983.0,11680.0,12549.0,...,NaN,NaN,471774.0,NaN,NaN,NaN,NaN,NaN,NaN,511685.0
4,Bahamas,173.0,194.0,217.0,243.0,272.0,306.0,347.0,398.0,454.0,...,NaN,NaN,13136.0,NaN,NaN,NaN,NaN,NaN,NaN,14338.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13569.0,NaN,NaN,NaN,NaN,NaN,NaN,14769.0
193,Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,63563.0,NaN,NaN,NaN,NaN,NaN,NaN,75187.0
194,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,59928.0,NaN,NaN,NaN,NaN,NaN,NaN,69148.0
195,Timor-Leste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3205.0,NaN,NaN,NaN,NaN,NaN,NaN,2243.0
196,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8037.0,NaN,NaN,NaN,NaN,NaN,NaN,7178.0